/* General Styles */
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff2c;
  min-height: 100vh;
 
}
  
  .container {
    width: 85%;
    margin: 0 auto;
  }
  
  /* Header Section */
  nav{
    background-color: rgb(184, 121, 96);
    box-shadow: 3px 3px 5px rgba(rgb(35, 62, 179), rgb(18, 41, 114), rgb(30, 5, 88), alpha);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
  }
  nav li{
    height: 80px;
  
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    transition: ease 0.5s;
  }
  nav a:hover{
    background-color: antiquewhite;
  }
  nav li:first-child{
    margin-right: auto;
  
  }
  .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(240, 248, 255, 0.418);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1) ;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  
  
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
  display: none;
  }
  
  @media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  }
  @media( max-width: 400px){
    .sidebar{
        width:100%;
    }
  }
  
  /* Contact Section */
  .contact_section {
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-image:url(green\ eatery.jpg);
  min-height: 100vh;
  }
  .bg-img{
    display: none;
    z-index: 999;
  }
  @media(max-width:400px ){
    .contact_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-image: url(bamboo-bg.jpg);
    min-height: 100vh;
  }
 
}
  .contact_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .contact-left {
    flex-basis: 50%;
    
  }
  .conteact-left, h2{
    background-color: #0000009d;
    padding:5px;
    border-radius: 5px;
    width: 100%;
  }
  @media(min-width: 1750px){
    .conteact-left, h2{
      background-color: #0000009d;
      padding:5px;
      border-radius: 5px;
      width: 100%;
      text-align: center;
    }
  }
    
  
  
  .contact-left h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #d38d3dce;
  }
  
  .contact-left hr {
    margin-bottom: 20px;
    border: 1px solid #ffffff;
  }
  
  .contact-inputs {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fdfdfd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .submit-btn {
    background-color: #c04c16cb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s;
  }
  
  .submit-btn:hover {
    background-color: #267716;
  }
  
  /* Contact Image */
  .contact-right {
    flex-basis: 40%;
    
  }
  
  .contact-img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    border: solid;
    background-color: #cccccca9;
  }
  @media(max-width: 700px){
    .contact-img {
     display: none;
    }
    .contact-right {
      flex-basis: 0%;
      
    }
    /* contact info mobile */
    .contact-left {
      flex-basis: 100%;
    }
    
    .contact-left h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }
    
    .contact-left hr {
      margin-bottom: 20px;
      border: 1px solid #003060;
    }
    
    .contact-inputs {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
    }
    
    .submit-btn {
      background-color: #003060;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
    }
    
    .submit-btn:hover {
      background-color: #164d77;
    }
  } 
  
  /* Footer Section */
  .footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
  
 
  