/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 85%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

/* Header */
.main-header {
    background-color: #003060;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    width: 50px;
}

.navbar a {
    margin-left: 20px;
    font-weight: bold;
}

/* Banner Section */
.banner {
    background-color: #164d77;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.main-heading {
    font-size: 3rem;
    margin: 0;
}

.sub-heading {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Services Section */
.services {
    background-color: rgb(100, 116, 133);
    padding: 60px 0;
    text-align: center;
}

.service-item {
    margin-bottom: 40px;
}

.service-item h2 {
    font-size: 2rem;
    color: white;
}

.service-item p {
    font-size: 1.1rem;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

/* Carousel Section */
.carousel-section {
    padding: 60px 0;
    text-align: center;
    background-color: #e0e0e0;
}

.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Footer */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .main-heading {
        font-size: 2.5rem;
    }

    .sub-heading {
        font-size: 1.2rem;
    }

    .service-item h2 {
        font-size: 1.5rem;
    }

    .service-item p {
        font-size: 1rem;
    }
}
